---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Welcome to my site! 👨‍💻</div>
      <div class="text-5xl font-bold">I'm Carlos Arévalo</div>
      <div class="text-3xl py-3 font-bold">Software Developer | Artificial Intelligence Researcher</div>
      <div class="py-2">
        <text class="text-lg">
          Experienced Software Developer and AI Researcher with a passion for learning, creating innovative solutions, and advancing the field. Final-year IT Engineering student with project experience in software development. Currently working on my thesis project using Machine Learning for clinical applications. Eager to contribute to cutting-edge projects and collaborate with dynamic teams. Let's connect!
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="mailto:carlosandresat@hotmail.com" target="_blank"> Contact me!</a>
        <!--<a href="" target="_blank" class="btn btn-outline ml-5"> Download CV</a>-->
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="Astro Personal Site"
      img="/post_img.webp"
      desc="My personal professional website. Includes homepage, projects, services, blog and CV sections. Static site created with Astro, styled with Tailwind and DaisyUI, hosted and deployed with Netlify"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="TutoYT"
    img="/post_img.webp"
    desc="A site for tutoring sessions scheduling between university students using many web technologies with MERN (MySQL - Express - React - NodeJS) stack. Using Formik and Yup for forms and input validations. JSON Web Tokens (JWT) for users authorization. Deployed with Railway."
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="ThunderShop"
    img="/post_img.webp"
    desc="A class project of an implementation of a product sales application with a connection to a PostgreSQL database hosted on Amazon Services cloud, using C# and Windows Forms."
  />


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
